@model int

<link rel="stylesheet" href="~/css/Notifications/NotificationBell.css" />

<a class="notification-nav-link" asp-controller="Notifications" asp-action="Index" title="Notifications">
    <i class="bi bi-bell notification-icon"></i>
    @if (Model > 0)
    {
        <span class="notification-badge" data-count="@Model">
            @Model
            <span class="visually-hidden">unread notifications</span>
        </span>
    }
</a>