@model int

<link rel="stylesheet" href="~/css/messages/MessageBadge.css" />

<a class="message-nav-link" asp-controller="Messages" asp-action="Index" title="Wiadomości">
    <i class="bi bi-envelope message-icon"></i>
    @if (Model > 0)
    {
        <span class="message-badge" data-count="@Model">
            @Model
            <span class="visually-hidden">nieprzeczytane wiadomości</span>
        </span>
    }
</a>