@model int

<a class="nav-link position-relative d-inline-flex align-items-center" asp-controller="Messages" asp-action="Index">
    <i class="bi bi-envelope fs-5"></i>

    @if (Model > 0)
    {
        <span class="position-absolute badge rounded-pill bg-danger"
              style="top: 5px; right: -10px; font-size: 0.7rem; padding: 2px 6px;">
            @Model
            <span class="visually-hidden">nieprzeczytane wiadomości</span>
        </span>
    }
</a>